<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2015 SpiritCroc

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.spiritcroc.akg_vertretungsplan" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WebActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"/>
        <activity
            android:name=".FormattedActivity"
            android:label="@string/title_activity_formatted">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LessonPlanActivity"
            android:label="@string/lesson_plan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /><!--So the launcher is allowed to launch this after creating a shortcut-->
            </intent-filter>
        </activity>
        <activity android:name="ShortcutActivity"
            android:theme="@style/AppTheme"
            android:label="@string/lesson_plan_shortcut"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".CheckPlanWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/check_plan_widget_info" />
        </receiver>

        <receiver android:name=".CheckPlanWidgetVertical" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/check_plan_widget_vertical_info" />
        </receiver>

        <receiver android:name=".BReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".DownloadService" />

    </application>

</manifest>
